<main>
  <header class="gameHeader">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="cleanRoom()" mat-menu-item>
        <mat-icon>delete_sweep</mat-icon>
        <span>Limpiar juego</span>
      </button>

      <button (click)="showCode()" mat-menu-item>
        <mat-icon>style</mat-icon>
        <span>Obtener código</span>
      </button>

      <button (click)="showLog()" mat-menu-item>
        <mat-icon>event_note</mat-icon>
        <span>Ver log de juego</span>
      </button>

      <button mat-menu-item>
        <mat-icon>close</mat-icon>
        <span>Cerrar</span>
      </button>

    </mat-menu>
    {{room?.killCount}}/{{room?.game.length}}-{{room?.name}}
  </header>
  <div class="gameDiv">

    <ng-container *ngFor="let game of room?.game index as i" >

      <div id="game{{i}}" *ngIf="!game.killed && !game.shielded" class="card second" [@cardAnimator]="game.animation" (@cardAnimator.done)="resetAnimationState()"
        (swipeleft)="shieldGame(game)" (swiperight)="killGame(game)">

        <div class="card-content">
          <p>
            {{game.name}} 
          </p>
          <i class="material-icons alive">videogame_asset</i>
        </div>
        <footer class="cardfooter">
          <button mat-raised-button color="accent" class="customButton" (click)="shieldGame(game)">
            <mat-icon>security</mat-icon>
            Shield
          </button>
          <button mat-raised-button color="warn" class="customButton" (click)="killGame(game)">
            <mat-icon>gavel</mat-icon>
            Eliminate
          </button>
        </footer>
      </div>

      <div *ngIf="game.killed" class="card third" [@cardAnimator]="game.animation" (@cardAnimator.done)="resetAnimationState()"
        (swipeleft)="shieldGame(game)" (swiperight)="killGame(game)">
        <div class="card-content">
          <p>
            {{game.name}}
          </p>
          <i class="material-icons killed">local_hotel</i>
        </div>
        <footer class="cardfooter">
          <button mat-raised-button color="accent" class="customButton" (click)="shieldGame(game)">
            <mat-icon>security</mat-icon>
            Shield
          </button>
          <button mat-raised-button color="warn" class="customButton" (click)="killGame(game)">
            <mat-icon>gavel</mat-icon>
            Eliminate
          </button>
        </footer>
      </div>

      <div *ngIf="game.shielded" class="card first" [@cardAnimator]="game.animation" (@cardAnimator.done)="resetAnimationState()"
        (swipeleft)="shieldGame(game)" (swiperight)="killGame(game)">
        <div class="card-content">
          <p>
            {{game.name}}
          </p>
          <i class="material-icons shielded">security</i>
        </div>
        <footer class="cardfooter">
          <button mat-raised-button color="accent" class="customButton" (click)="shieldGame(game)">
            <mat-icon>security</mat-icon>
            Shield
          </button>
          <button mat-raised-button color="warn" class="customButton" (click)="killGame(game)">
            <mat-icon>gavel</mat-icon>
            Eliminate
          </button>
        </footer>
      </div>

    </ng-container>
  </div>
  <footer class="players">
    <span class="player" *ngFor="let player of room?.players">
      {{player}}

    </span>
  </footer>
</main>
<notifier-container></notifier-container>