<main>
  <header>
    <p>
      {{room?.name}} {{roomId}}
    </p>
  </header>
  <div class="gameDiv">
    <div class="card" *ngFor="let game of room?.game">
      <header>
        {{game.name}}
      </header>
      <div  *ngIf="!game.killed && !game.shielded" class="circle animated  lightSpeedIn ">
        {{game.name.substring(0,1)}}
      </div>
      <div *ngIf="game.killed" class="circle killed">
        {{game.name.substring(0,1)}}
      </div>
      <div *ngIf="game.shielded" class="circle shielded">
        {{game.name.substring(0,1)}}
      </div>
      <footer class="cardfooter">
        <button (click)="shieldGame(game,room)" class="game btn-shield">Shield</button>
        <button (click)="killGame(game,room)" class="game btn-kill">Kill</button>
      </footer>
    </div>
  </div>
  <footer class="players">
    <span class="player" *ngFor="let player of room?.players">
      {{player}}
    </span>
  </footer>
</main>
<notifier-container></notifier-container>