<div class="background-image">
  <div>
    <h1>ShieldIt</h1>
    <i class="material-icons shield animated bounceInDown">security</i>
    <p>¡Únete a una partida o crea una nueva!</p>
    <section>
      <button mat-raised-button color="primary" routerLink="/createRoom">
        <mat-icon>create</mat-icon>
        Crear Sala
      </button>
      <button mat-raised-button color="primary" routerLink="/findRoom">
        <mat-icon>find_in_page</mat-icon>
        Buscar Sala
      </button>
    </section>
  </div>
</div>