.example-spacer {
  flex: 1 1 auto;
  align-content: center;
}

.header {
  height: 8vh;
}

a {
  margin-left: 10px;
  transition: 0.3s ease-out;
  text-decoration: none;
  color: #ffffff;
}

p{
  font-size: 1.2em;
}

a:hover,
a:active {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2px 0;
}


@media (max-width: 600px) {
  a {
    font-size: .8em
  }
}
