<main class="main">
  <form class="form" (ngSubmit)="newGame()" #createGame="ngForm">
    <mat-form-field class="full-width">
      <input [(ngModel)]="name" name="name" matInput placeholder="Nombre" value="">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let game of games" [selectable]="selectable" [removable]="removable" (remove)="remove(game)">
          {{game.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <br>
        <input placeholder="Añadir obra" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>

    </mat-form-field>
    <button mat-raised-button color="primary">Crear</button>
  </form>
</main>