<h1 mat-dialog-title>Código de sala</h1>
<div class="inline" mat-dialog-content>

    <input type="text" readonly class="input" value="{{data.id}}" #inputTarget>
    <i class="material-icons" [ngxClipboard]="inputTarget" (cbOnSuccess)="copied()">content_copy</i>

</div>
<div mat-dialog-actions>
    <div class="inline center">
        <button mat-button [mat-dialog-close]="" (click)="onNoClick()">Salir</button>
        <button *ngIf="data.goto" mat-button [mat-dialog-close]="data.id" cdkFocusInitial>Ir a la sala</button>
    </div>
</div>
<notifier-container></notifier-container>